<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="false"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/AuditCase development"/>
    <booleanAttribute key="default" value="true"/>
    <booleanAttribute key="default_auto_start" value="false"/>
    <intAttribute key="default_start_level" value="4"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <booleanAttribute key="includeOptional" value="true"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; path=&quot;1&quot; type=&quot;4&quot;/&gt;&#13;&#10;"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -consoleLog -console -pluginCustomization &quot;${domino_rcp_target}/../plugin_customization.ini&quot;"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.registry.nulltoken=true&#13;&#10;-Dosgi.splashPath=platform:/base/../shared/eclipse/plugins/com.ibm.notes.branding&#13;&#10;-Djava.util.logging.config.class=com.ibm.rcp.core.internal.logger.boot.LoggerConfig&#13;&#10;-Dosgi.framework.extensions=com.ibm.rcp.core.logger.frameworkhook&#13;&#10;-Dcom.ibm.pvc.webcontainer.port=0&#13;&#10;-Djava.protocol.handler.pkgs=com.ibm.net.ssl.www.protocol&#13;&#10;-Dosgi.hook.configurators.exclude=org.eclipse.core.runtime.internal.adaptor.EclipseLogHook,com.ibm.jxesupport.CDSHookConfigurator&#13;&#10;&quot;-Xbootclasspath/a:${domino_rcp_base}/rcpbootcp.jar&quot;&#13;&#10;-Xss512K&#13;&#10;-Xms128m&#13;&#10;-Xmx1024m&#13;&#10;&quot;-Drcp.data=${domino_rcp_data}&quot;&#13;&#10;&quot;-Drcp.home=${domino_rcp_target}/../..&quot;&#13;&#10;&quot;-Djava.security.policy=${domino_rcp_target}/../../../java.policy&quot; -Declipse.ignoreApp=true -Dosgi.noShutdown=true"/>
    <stringAttribute key="osgi_framework_id" value="com.ibm.domino.osgi.debug.framework"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <setAttribute key="selected_target_bundles"/>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="nl.c2c.ac.api2@default:default"/>
        <setEntry value="nl.c2c.ac.bootstrap@default:default"/>
        <setEntry value="nl.c2c.ac@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
